@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.accordion-container {
	background-color: aqua;
	margin-top: 8px;
	margin-right: 20px;
}

.accordion-container button {
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: blue;
	color: #001f3f;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 6px;
}

[data-reach-accordion-panel] {
	border: none;
}
[data-state='open'] {
	height: auto;
	visibility: visible;
	display: block;
	opacity: 1;
	transition: none;
}
